{% load static %}

<div class="sidebar" id="sidebar">

    <h5></h5>

    <div class="mb-3">
        <label for="paisSelect" class="form-label">País</label>
        <select class="form-select" id="paisSelect">
            <option selected>Escolher país</option>
            <option value="br">Brasil</option>
            <option value="us">Estados Unidos</option>
            <option value="fr">França</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="regiaoSelect" class="form-label">Região</label>
        <select class="form-select" id="regiaoSelect">
            <option selected>Escolher região</option>
            <option value="norte">Norte</option>
            <option value="sul">Sul</option>
            <option value="centro">Centro</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="modeloSelect" class="form-label">Modelo</label>
        <select class="form-select" id="modeloSelect">
            <option selected>Escolher modelo</option>
            <option value="1">Modelo A</option>
            <option value="2">Modelo B</option>
            <option value="3">Modelo C</option>
        </select>
    </div>

    <div class="d-grid mt-4 mb-4">
        {% comment %} <button type="button" class="btn btn-primary">Buscar</button> {% endcomment %}
        <a href="{% url 'mapa' %}" class="btn btn-primary">Buscar</a>
    </div>

    <div class="spacer"></div>

    <div class="d-grid">
        <a href="tutorial" class="btn btn-footer">Como Usar?</a>
    </div>
</div>

<div id="sidebarToggle" class="sidebar-toggle">⮜</div>
