body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f9;
    color: #ffffff;
    overflow-x: hidden;
}

.content {
    margin-left: 250px;
    margin-top: 56px;
    padding: 2rem;
}
