/* Layout Principal */
.main-container {
    display: flex;
    height: 100vh;
    margin-left: 251px;
    flex-direction: column;
    transition: margin-left 0.8s;
}

/* Texto explicativo e imagem central */
.main-content {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    gap: 20px;
}

/* Container de texto */
.main-content .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

/* Título "Rainscale" */
.main-content .text-container h1 {
    font-size: 3em;
    font-weight: bold;
    color: #081c4c;
    margin: 0;
    text-align: left;
}

/* Parágrafo explicativo */
.main-content .text-container p {
    font-size: 1.2em;
    color: #5f6e8c;
    margin: 10px 0 0 0;
    text-align: left;
}

/* Container da imagem */
.main-content .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Imagem principal */
.main-content .image-container img {
    width: 90%;
    max-width: 500px;
    height: auto;
    border-radius: 16px;
}

/* Parágrafos padrão */
p {
    font-size: 1em;
    line-height: 1.6;
    margin: 10px 0;
    text-align: center;
}