/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    background-color: #1e1e1e;
    color: #f1f1f1;
    position: fixed;
    top: 50px;
    left: 0;
    padding: 1rem;
    width: 251px;
    border-right: 1px solid #dee2e6;
    overflow-y: auto;
}

.sidebar h5 {
    color: #ffffff;
    margin-bottom: 20px;
}

.sidebar .form-label {
    color: #d4d4d4;
}

.sidebar .form-select {
    background-color: #2b2b2b;
    color: #ffffff;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
}

.sidebar .mb-3 {
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-footer {
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.btn-footer:hover {
    background-color: #2b2b2b;
    color: #007bff;
}

.spacer {
    margin-top: auto;
}

/* Layout Principal */

.main-container {
    display: flex;
    height: 100vh;
    margin-left: 251px;
    flex-direction: column;
}

/* Mapa */

.map-container {
    justify-content: center;
    padding: 20px;
    margin-top: 55px;
    position: relative;
}

#map {
    width: 100%;
    height: calc(86vh - 100px);
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Inputs e Botões */

.controls-container {
    width: calc(100% - 40px);
    margin: calc(8vh - 50px);
    margin-left: 20px;
    margin-right: 20px;
    background-color: #1e1e1e;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.controls-container .col-md-4,
.controls-container .col-auto {
    flex: 1 1 100%;
}

@media (min-width: 576px) {
    .controls-container .col-md-4 {
        flex: 1 1 45%;
    }
}

@media (min-width: 768px) {
    .controls-container .col-md-4 {
        flex: 1 1 30%;
    }
}

@media (min-width: 992px) {
    .controls-container .col-md-4 {
        flex: 1 1 25%;
    }
}

.controls-container .col-auto {
    flex: 0 1 auto;
    margin-top: 15px;
}

.controls-container .btn {
    width: 100%;
    max-width: 40px;
    height: 40px;
}

@media (min-width: 576px) {
    .controls-container .btn {
        width: 40px;
    }
}

.controls-container .form-control {
    background-color: #2b2b2b;
    color: #ffffff;
    border: 1px solid #444;
}

.controls-container .input-group-text {
    background-color: #2b2b2b;
    color: #ffffff;
    border: 1px solid #444;
}

.controls-container .btn-outline-primary {
    background-color: #007bff;
    color: #ffffff;
}

.controls-container .btn-outline-primary:hover {
    background-color: #0b5ed7;
    color: #ffffff;
}

.controls-container .btn-outline-secondary {
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.controls-container .btn-outline-secondary:hover {
    background-color: #2b2b2b;
    color: #007bff;
}

.controls-container input::placeholder {
    color: #d1d5db;
    opacity: 1;
}

/* Informações Extras */

#extra-info .card {
    background-color: #2b2b2b;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 5 2px 6px rgba(0, 0, 0, 0.2);
}

#extra-info .card-footer {
    background-color: #ffffff;
    color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0px solid white;
    border-radius: 0px;
    margin-top: -1px;
    box-shadow: none;
}
