/* Layout Principal */

.main-container {
    display: flex;
    height: 100vh;
    margin-left: 251px;
    flex-direction: column;
    transition: margin-left 0.8s;
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin: 10px 0;
    text-align: center;
}
