.sidebar {
    height: 100vh;
    position: fixed;
    top: 56px; /* altura do navbar */
    left: 0;
    width: 250px;
    padding: 1rem;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}
