/* Mapa */

.map-container {
    justify-content: center;
    padding: 20px;
    margin-top: 55px;
    position: relative;
}

#map {
    width: 100%;
    height: calc(86vh - 100px);
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Inputs e Botões */

.controls-container {
    width: calc(100% - 40px);
    margin: calc(8vh - 50px);
    margin-left: 20px;
    margin-right: 20px;
    background-color: #1e1e1e;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.controls-container .col-md-4,
.controls-container .col-auto {
    flex: 1 1 100%;
}

@media (min-width: 576px) {
    .controls-container .col-md-4 {
        flex: 1 1 45%;
    }
}

@media (min-width: 768px) {
    .controls-container .col-md-4 {
        flex: 1 1 30%;
    }
}

@media (min-width: 992px) {
    .controls-container .col-md-4 {
        flex: 1 1 25%;
    }
}

.controls-container .col-auto {
    flex: 0 1 auto;
    margin-top: 15px;
}

.controls-container .btn {
    width: 100%;
    max-width: 40px;
    height: 40px;
}

@media (min-width: 576px) {
    .controls-container .btn {
        width: 40px;
    }
}

.controls-container .form-control {
    background-color: #2b2b2b;
    color: #ffffff;
    border: 1px solid #444;
}

.controls-container .input-group-text {
    background-color: #2b2b2b;
    color: #ffffff;
    border: 1px solid #444;
}

.controls-container .btn-outline-primary {
    background-color: #007bff;
    color: #ffffff;
}

.controls-container .btn-outline-primary:hover {
    background-color: #0b5ed7;
    color: #ffffff;
}

.controls-container .btn-outline-secondary {
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.controls-container .btn-outline-secondary:hover {
    background-color: #2b2b2b;
    color: #007bff;
}

.controls-container input::placeholder {
    color: #d1d5db;
    opacity: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Informações Extras */

#extra-info .card {
    background-color: #222222;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#extra-info .card-title {
    margin-bottom: 1rem;
}

#extra-info .table {
    color: #ffffff;
    background-color: #3a3a3a;
    border-color: #4a4a4a;
    border-radius: 10px;
    overflow: hidden;
}

#extra-info .table th {
    width: 25%; /* Define largura fixa das colunas de título */
    background-color: #444; /* Cor do fundo dos cabeçalhos */
    color: #ffffff; /* Cor do texto dos <th> */
    font-weight: 600;
    vertical-align: middle;
    padding: 4px 10px;
    font-size: 0.9rem;
}

#extra-info .table td {
    background-color: #2b2b2b; /* Mesma cor do card */
    color: #ffffff;
    padding: 4px 10px;
    font-size: 0.9rem;
}

#extra-info a {
    color: #007bff; /* Link azul claro */
    text-decoration: underline;
}

#extra-info a:hover {
    color: #007bff;
}

#extra-info .card-footer {
    background-color: #f4f4f9;
    color: #f4f4f9;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0px solid #f4f4f9;
    border-radius: 0px;
    margin-top: -1px;
    box-shadow: none;
}
