/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px); /* ocupa o restante da tela abaixo da navbar */
    background-color: #1e1e1e;
    color: #f1f1f1;
    position: fixed;
    top: 50px;
    left: 0;
    padding: 1rem;
    width: 251px;
    border-right: 1px solid #dee2e6;
    overflow-y: auto; /* habilita rolagem se necessário */
}

.sidebar h5 {
    color: #ffffff;
    margin-bottom: 20px;
}

.sidebar .form-label {
    color: #d4d4d4;
}

.sidebar .form-select {
    background-color: #2b2b2b;
    color: #ffffff;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
}

.sidebar .mb-3 {
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-outline-light {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-light:hover {
    background-color: #ffffff;
    color: #1e1e1e;
}

.btn-footer {
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.btn-footer:hover {
    background-color: #2b2b2b;
    color: #007bff;
}

.spacer {
    margin-top: auto;
}

/* Layout Principal */
.main-container {
    display: flex;
    height: 100vh;
    margin-left: 251px;
    flex-direction: column;
}

/* Mapa */
.map-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 80px;
}

.map-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    width: 100%;
    height: 550px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Formulário abaixo do mapa */
.map-form {
    margin: 15px auto 0;
    width: 97.5%;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.map-form input,
.map-form button {
    flex: 1 1 calc(30% - 10px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.map-form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.map-form button:hover {
    background-color: #0056b3;
}