/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    background-color: #1e1e1e;
    color: #f1f1f1;
    position: fixed;
    top: 50px;
    left: 0;
    padding: 1rem;
    width: 251px;
    border-right: 1px solid #0b5ed7;
    overflow-y: auto;
    transition: width 0.8s, padding 0.8s;
}

.sidebar h5 {
    color: #ffffff;
    margin-bottom: 20px;
}

.sidebar .form-label {
    color: #d4d4d4;
}

.sidebar .form-select {
    background-color: #2b2b2b;
    color: #ffffff;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
}

.sidebar .mb-3 {
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-footer {
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.btn-footer:hover {
    background-color: #2b2b2b;
    color: #007bff;
}

.spacer {
    margin-top: auto;
}

.sidebar.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
    border: none;
}

.sidebar-toggle {
    position: fixed;
    top: 50%;
    left: 250px;
    transform: translateY(-50%);
    background-color: #007bff;
    color: white;
    padding: 25px 0.5px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-size: 12px;
    z-index: 1051;
    transition: left 0.8s;
}

.sidebar.collapsed + .sidebar-toggle {
    left: 0;
}
