{% extends 'common/base.html' %}

{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'model/css/index.css' %}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

</head>

<body>

    <!-- Layout principal -->
    <div class="main-container">

        <!-- Sidebar -->
        {% include 'partials/_sidebar.html' %}

    </div>

{% endblock content %}
