{% extends 'common/base.html' %}

{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'model/css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'model/css/mapa.css' %}" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>

    <!-- Layout principal -->
    <div class="main-container">

        <!-- Sidebar -->
        {% include 'partials/_sidebar.html' %}

        <!-- Mapa -->
        <div class="map-container">
            <div id="map"></div>
        </div>

        <form method="post" action="{% url 'mapa' model_id %}">

        {% csrf_token %}

        <!-- Inputs e Botões -->
        <div class="controls-container">
            <div class="row g-3 align-items-end p-3">

                <!-- Latitude -->
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text" id="lat">Latitude</span>
                        {{ form.latitude.as_widget }}
                    </div>
                    {% if form.latitude.errors %}
                        <div class="text-danger small">
                            {{ form.latitude.errors }}
                        </div>
                    {% endif %}
                </div>
            
                <!-- Longitude -->
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text" id="lon">Longitude</span>
                        {{ form.longitude.as_widget }}
                    </div>
                    {% if form.longitude.errors %}
                        <div class="text-danger small">
                            {{ form.longitude.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="col-auto">
                    <button type="button" class="btn btn-outline-secondary"
                            title="Mais informações"
                            data-bs-toggle="collapse"
                            data-bs-target="#extra-info"
                            aria-expanded="false"
                            aria-controls="extra-info"
                    >
                        <i class="bi bi-chevron-down"></i>
                    </button>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-primary"
                            title="Download">
                        <i class="bi bi-download"></i>
                    </button>
                </div>

            </div>

            <!-- Informações adicionais -->
            <div class="collapse mt-3" id="extra-info">
                <div class="card card-body">
                    <h5 class="card-title">Modelo</h5>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr><th>País</th><td>{{ dados_modelo.0  }}</td></tr>
                            <tr><th>Região</th><td>{{ dados_modelo.1  }}</td></tr>
                            <tr><th>Autor</th><td>{{ dados_modelo.2  }}</td></tr>
                            <tr><th>Nome do Modelo</th><td>{{ dados_modelo.3  }}</td></tr>
                            <tr><th>Temporalidade</th><td>{{ dados_modelo.4  }}</td></tr>
                            <tr><th>Variável</th><td>{{ dados_modelo.5  }}</td></tr>
                            <tr><th>Unidade</th><td>{{ dados_modelo.6  }}</td></tr>
                       <!-- <tr><th>Pontos (.csv)</th><td><a href="#">{{ dados_modelo.7  }}</a></td></tr>
                            <tr><th>Modelo (.pkl/.h5)</th><td><a href="#">{{ dados_modelo.8  }}</a></td></tr>
                            <tr><th>Caderno (.ipynb)</th><td><a href="#">{{ dados_modelo.9  }}</a></td></tr> -->
                            <tr><th>Repositório</th><td><a href="{{ dados_modelo.10 }}">{{ dados_modelo.10 }}</a></td></tr>
                            <tr><th>Latitude Máxima</th><td>{{ dados_modelo.11 }}</td></tr>
                            <tr><th>Latitude Mínima</th><td>{{ dados_modelo.12 }}</td></tr>
                            <tr><th>Longitude Máxima</th><td>{{ dados_modelo.13 }}</td></tr>
                            <tr><th>Longitude Mínima</th><td>{{ dados_modelo.14 }}</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="card card-body">
                    <h5 class="card-title">Experimentos</h5>
                    {% for experimento in dados_experimentos %}
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr><th>Nome</th><td>{{ experimento.0 }}</td></tr>
                                <tr><th>Projeto/Atividade</th><td>{{ experimento.1 }}</td></tr>
                                <tr><th>Servidor de Origem</th><td>{{ experimento.2 }}</td></tr>
                                <tr><th>Modelo Climático</th><td>{{ experimento.3 }}</td></tr>
                                <tr><th>Instituição</th><td>{{ experimento.4 }}</td></tr>
                                <tr><th>Tipo de Modelo</th><td>{{ experimento.5 }}</td></tr>
                                <tr><th>Experimento</th><td>{{ experimento.6 }}</td></tr>
                                <tr><th>Sub-experimento</th><td>{{ experimento.7 }}</td></tr>
                                <tr><th>Resolução Espacial</th><td>{{ experimento.8 }}</td></tr>
                                <tr><th>Variante</th><td>{{ experimento.9 }}</td></tr>
                                <tr><th>Grade Espacial</th><td>{{ experimento.10 }}</td></tr>
                                <tr><th>Tabela</th><td>{{ experimento.11 }}</td></tr>
                                <tr><th>Frequência</th><td>{{ experimento.12 }}</td></tr>
                                <tr><th>Domínio</th><td>{{ experimento.13 }}</td></tr>
                                <tr><th>Variável</th><td>{{ experimento.14 }}</td></tr>
                                <tr><th>Unidade da Variável</th><td>{{ experimento.15 }}</td></tr>
                                <tr><th>Nome Padrão CF</th><td>{{ experimento.16 }}</td></tr>
                                <tr><th>Versão</th><td>{{ experimento.17 }}</td></tr>
                                <tr><th>Data Inicial</th><td>{{ experimento.18 }}</td></tr>
                                <tr><th>Data Final</th><td>{{ experimento.19 }}</td></tr>
                                <tr><th>Link</th><td><a href="{{ experimento.20 }}">{{ experimento.20 }}</a></td></tr>
                                <tr><th>Referência</th><td><a href="{{ experimento.21 }}">{{ experimento.21 }}</a></td></tr>
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
                <div class="card card-body">
                    <h5 class="card-title">Dados Locais</h5>
                    {% for dado_local in dados_locais %}
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr><th>Nome</th><td>{{ dado_local.0 }}</td></tr>
                                <tr><th>Temporalidade</th><td>{{ dado_local.1 }}</td></tr>
                                <tr><th>Variável</th><td>{{ dado_local.2 }}</td></tr>
                                <tr><th>Unidade da Variável</th><td>{{ dado_local.3 }}</td></tr>
                                <tr><th>Data de Início</th><td>{{ dado_local.4 }}</td></tr>
                                <tr><th>Data de Término</th><td>{{ dado_local.5 }}</td></tr>
                                <tr><th>Latitude Máxima</th><td>{{ dado_local.6 }}</td></tr>
                                <tr><th>Latitude Mínima</th><td>{{ dado_local.7 }}</td></tr>
                                <tr><th>Longitude Máxima</th><td>{{ dado_local.8 }}</td></tr>
                                <tr><th>Longitude Mínima</th><td>{{ dado_local.9 }}</td></tr>
                                <tr><th>Link</th><td><a href="{{ dado_local.10  }}">{{ dado_local.10 }}</a></td></tr>
                                <tr><th>Referência</th><td><a href="{{ dado_local.11  }}">{{ dado_local.11 }}</a></td></tr>
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
                <div class="card card-footer"></div>
            </div>
        </div>

        </form>

    </div>

    <script>
        window.latitude_central = {{ latitude_central }};
        window.longitude_central = {{ longitude_central }};
        window.lista_de_pontos = {{ lista_de_pontos|safe }};
        window.fontes_unicas = {{ fontes_unicas|safe }};
    </script>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{% static 'model/js/mapa.js' %}"></script>

{% endblock content %}
